.App{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    color: white;
    background: rgb(25 26 28);
    
  }

  #root{
    background: rgb(25 26 28);
    height: 100%;
  }

.game__item{
    text-decoration: none;
    color: white;
    width: 320px;
    height: 300px;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
}
.game-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 50px;
}
.game__item-cover {
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.game__item-block {
    padding: 10px 20px;
}

.game__item-genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.game__item-genre_it {
    background-color: rgb(80, 82, 84);
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 10px;
}
.game__item-genre_it:not(:last-child) {
    margin-right: 7px;
}




.game__item-buy_button{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(85, 88, 237);
}

.game__item-buy_cost {
    margin-right: 5px;
}
.game__item-buy{
    display: flex;
    position: absolute;
    right: 0;
    bottom: -10px;
}
.home-carts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game__item {
    
    margin-top: 30px;
}
.header__cart{
    position: relative;
}

.header__logo{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.header__cart-cir{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    left: 15px;
    top: -10px;
}

.header_block{
    display: flex;
    align-items: center;
}

.header__basket{
    margin-left: 20px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}


.header__top{
    background: #000;
    padding: 8px 20px;
}

.header__top{
    width: 200px;
}

.header__basket-item{
    display: flex;
    justify-content: space-between;
}
.header__basket-item button{
    background: 0;
    color: #fff;
    font-size: 20px;
    border: 0;
    padding: 0;
    padding-top: 3px;
    margin-left: 5px;
}

.header__top-order{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.header__top-order_bt{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(85, 88, 237);
    margin-left: 8px;
}
.header__wrapper{
    position: relative;
}
.header__top {
    width: 280px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 9;
}
.header__top-hide{
    display: none;
}

.header__basket-item_att{
    display: flex;
    align-items: center;
}

.header__basket-item{
    display: flex;
    align-items: center;
}

.orders__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.orders__item-img{
    height: 170px;
    width: 170px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.orders__item_bl{
    
    display: flex;
    flex-basis: 80%;
    align-items: center;
}
.orders__item_bls{
    
    display: flex;
    flex-basis: 20%;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}
.orders__item_bl h3{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.orders__item_bls b{
    font-size: 24px;
    font-weight: normal;

}

.orders__item_bls button{
    background: 0;
    color: #fff;
    font-size: 30px;
    border: 0;
    padding: 0;
    padding-top: 3px;
    margin-left: 20px;

}

.orders{
    display: flex;
}

.orders__left{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.orders__right{
    display: flex;
    flex-basis: 20%;
}

.orders{
    padding-top: 40px;
}



.game-genre:not(:last-child) {
    margin-right: 7px;
}

.game-genre {
    background-color: rgb(80, 82, 84);
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 10px;
}

.btn{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(85, 88, 237);
    margin-left: 8px;
}

.game-page__buy-game{
    margin-top: 15px;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-carts{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin-right: 30px; */
    justify-content: center;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}


.header_search{
    width: 30px;
    height: 30px;
    background: #fff;
    position: relative;
    border-radius: 100px;
    margin-right: 30px;
}

.header_search img{
     width: 13px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -6.5px;
     margin-top: -6.5px;
}